
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Allure Report - ignore this too
allure-report/
allure-results/

# Cucumber HTML report
cucumber-report.html
